body {
  margin: 0;
  font-family: "Poppins";
  height: 100vh;
  width: 100%;
}

section {
  width: 100vw;
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.header {
  background-color: white;
  padding: 0em 0em 0em 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 7%;
  -webkit-box-shadow: 0px 0px 9px #6c6666;
          box-shadow: 0px 0px 9px #6c6666;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
}

.header .logo {
  width: auto;
  height: auto;
}

nav {
  display: block;
  padding-right: 1em;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  padding-top: 2em;
}

nav ul a {
  color: black;
  padding: 0em 1em;
}

nav .cta {
  background-color: white;
  color: #7CB89A;
  padding: 0.2em 0.8em;
  border-radius: 5%;
  border: 1px #7CB89A;
  border-style: solid;
}

nav .cta:hover {
  color: white;
  background-color: #7CB89A;
}

.skills_logo {
  display: none;
  width: 100%;
}

.hero {
  margin: 7em 1em 1em 1em;
}

.hero img {
  display: none;
}

.hero .hero_words {
  margin-top: 2.5em;
}

.hero .hero_words h1 {
  font-size: 2rem;
  font-weight: 900;
}

.hero .hero_words p {
  font-size: 1rem;
}

.hero .hero_words p:nth-last-child(2) {
  font-weight: bold;
  color: #27563F;
}

.hero .hero_words .cta {
  font-size: 0.8rem;
  background-color: #27563F;
  padding: 0.6em 1.3em;
  color: white;
  border-radius: 5%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 2px 5px 4px #97a097;
          box-shadow: 2px 5px 4px #97a097;
}

.hero_design {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  left: 0.1em;
}

.hero_css {
  position: relative;
  width: 80%;
  left: 7em;
  top: -7em;
  overflow-x: hidden;
}

section:nth-child(3) {
  background-color: #7CB89A;
  margin-top: -27em;
}

.container {
  margin: 1em;
  position: relative;
}

.container p:nth-child(1) {
  color: white;
  letter-spacing: 7px;
  padding-top: 1em;
}

.container h2 {
  font-size: 2rem;
  margin-top: -0.5em;
}

.container p:nth-child(3) {
  color: white;
}

.circle {
  position: relative;
}

.circle::before {
  content: "";
  position: absolute;
  left: -3em;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #27563f91;
  z-index: 1;
}

.second_container {
  position: relative;
  z-index: 2;
}

.last_container {
  width: 100%;
}

.last_container h1 {
  padding: 0.5em 0em 0em 0.5em;
  font-size: 2rem;
}

.last_container p {
  padding: 0rem 1rem;
  width: 95%;
}

.last_container img {
  float: left;
  padding-right: 1rem;
  padding-right: 1rem;
  width: 30%;
  margin: 13px;
}

.last_container .line_break {
  margin-top: 4em;
}

.last_container h1:nth-child(5) {
  font-size: 4rem;
  padding-left: 0rem;
  margin: 0em 0em 0.5em;
  overflow-x: hidden;
  width: 100%;
}

.contact_container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0rem 0em 2rem 3rem;
  margin-left: -4rem;
  width: 100vw;
}

.contact_container ul a {
  color: black;
  padding: 0.3em 1em;
  border: 1px;
  border-color: #27563F;
  border-style: solid;
  border-radius: 50px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 0em;
}

.footer .social_media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem 0.4rem;
}

.footer .social_media ul a {
  color: black;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0rem 0.3rem 0rem 0.3rem;
}

.footer .credits p {
  font-size: 0.7rem;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */
